/* input.ng-touched.ng-invalid {
  border: 2px solid red;
}

input.ng-touched.ng-invalid + span {
  display: initial;
}

input + span {
  display: none;
} */

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}


