<form [formGroup]="contactForm">

  <div *ngIf="contactForm.errors">
    {{contactForm.errors | json}}
  </div>

  <div>
    <label for="first-name-input">First Name:</label>
    <input type="text" id="first-name-input"
      formControlName="firstName">
    <span *ngIf="firstNameValid">*</span>
    <span>{{contactForm.get('firstName').errors | json}}</span>
  </div>

  <div>
    <label for="last-name-input">Last Name:</label>
    <input type="text" id="last-name-input"
      formControlName="lastName">
    <span>{{contactForm.get('lastName').errors | json}}</span>
    </div>

  <fieldset formGroupName="address">

    <div>
      <label for="street-input">Street:</label>
      <input type="text" id="street-input"
        formControlName="street">
    </div>

    <div>
      <label for="city-input">City:</label>
      <input type="text" id="city-input"
        formControlName="city">
    </div>

    <div>
      <label for="state-select">State:</label>
      <select id="state-select" formControlName="state">
        <option *ngFor="let state of states" [value]="state.code">{{state.name}}</option>
      </select>
    </div>

    <div>
      <label for="zip-code-input">Zip Code:</label>
      <input type="text" id="zip-code-input"
        formControlName="zipCode">
    </div>

  </fieldset>

  <fieldset formGroupName="contactMethod">

      <div *ngIf="contactForm.get('contactMethod').invalid">
        Errors: {{contactForm.get('contactMethod').errors | json}}
      </div>

      <div>
        <label for="may-contact-input">May we contact you?</label>
        <input type="checkbox" id="may-contact-input"
          formControlName="mayContact">
      </div>

      <fieldset>
        <legend>Preferred Contact Method</legend>

        <div>
          <input type="radio" id="email-preferred-contact-input" name="preferredContactMethod"
            value="email" formControlName="preferredContactMethod">
          <label for="email-preferred-contact-input">Email</label>
        </div>

        <div>
          <input type="radio" id="phone-preferred-contact-input" name="preferredContactMethod"
            value="phone" formControlName="preferredContactMethod">
          <label for="phone-preferred-contact-input">Phone</label>
        </div>

      </fieldset>

      <div>
        <label for="email-address-input">Email Address:</label>
        <input type="text" id="email-address-input"
          formControlName="emailAddress">
      </div>

      <div>
        <label for="phone-number-input">Phone Number:</label>
        <input type="text" id="phone-number-input"
          formControlName="phoneNumber">
      </div>

  </fieldset>

  <div>
    <label for="comments-textarea">Comments:</label>
    <textarea id="comments-textarea" formControlName="comments"></textarea>
  </div>

  <ul formArrayName="todos">
    <li *ngFor="let todoControl of contactForm.get('todos').controls; index as i">
      <input type="text" [formControlName]="i" />
    </li>
  </ul>

  <button type="button" (click)="doAddTask()">
    Add Task
  </button>

  <button type="button" (click)="doSend()">
    Send
  </button>
  

</form>
