<tool-header [headerText]="headerText"></tool-header>
<unordered-list [items]="colors"></unordered-list>
<color-form (submitColor)="addColor($event)" buttonText="Add Color"></color-form>


Click Me: <input type="checkbox" [formControl]="myCheckBox" /><br>
Checked? {{myCheckBox.value}}

<div *ngIf="myCheckBox.value">Hi Everyone! Time for break!</div>