<ul>
    <li *ngFor="let item of items">
      {{item}}
    </li>
  
    <!-- <ng-template ngFor [ngForOf]="colors" let-color>
      <li>{{color}}</li>
      <li>{{color | uppercase}}</li>
    </ng-template>
  
    <ng-container *ngFor="let color of colors">
      <li>{{color}}</li>
      <li>{{color | uppercase}}</li>
    </ng-container> -->
  </ul>