<ng-content></ng-content>
<form>
    <button type="button" (click)="go(-1)" [disabled]="firstPage">Prev</button>
    <button type="button" (click)="go(1)" [disabled]="lastPage">Next</button>
    <span>
        Page {{currentPage+1}} of {{totalPages}}
    </span>
</form>
